<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">

</head>

<body>
<div class="container">
    <div class="startSiteNavigationBar">
        <div class="siteNavigationBar">
            <a id="top" href="../index.html">Главная</a>
            <a href="contacts.html">Контакты</a>
        </div>
        <br>
        <!--

    -->
        <h2 class="zagolowokh2kontact">contact Us</h2>
    </div>

    <div class="communication">

        <div class="img card">
            <img src="../img/counter-strike-global-643.jpg" alt="austronaut" width="200">
        </div>
        <div class="sendMessage card">
            <h4 class="zagolowokh4">Send us message</h4>
            <form action="#">
                Full Name <input class="input" type="text" placeholder="Ivan"> <br>
                Email <input class="input" type="email" placeholder="mail@mail.ru"> <br>
                <textarea cols="30" rows="10"></textarea> <br> <br>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>